*
{
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: #D0D0D0;
    color: #005C5E;

    background-image: url('/assets/wave_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-box
{
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.bottom-box
{
    display: flex;
    margin-top: 25rem;
    margin-left: 1.5rem;
}

.bottom-box a
{
    margin-left: 1.5rem;
}

#github_logo
{
    background-image: url('./assets/github.png');
    height: 1.5rem;
    width: 1.5rem;
}

.center-box
{
    display: flex;
    justify-content: space-between;

    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 20rem;
}

.form-box
{
   display: flex;
   align-items: center;
   width: 2rem;
   height: 2rem;
}

#botao_mp3
{
    border-color: #005C5E;
    
}

#Logo
{
    height: 4rem;
    width: 4rem;

    margin-left: 8rem;
}
